.env
venv/
__pycache__/
*.pyc
db.sqlite3
.vscode/

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Secrets
*/terraform.tfvars

terraform/environments/dev/terraform.tfvars
terraform/environments/prod/terraform.tfvars