asgiref==3.11.1
Authlib==1.7.2
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
Django==5.2.14
ecdsa==0.19.2
idna==3.15
joserfc==1.6.5
psycopg2-binary==2.9.12
pyasn1==0.6.3
pycparser==3.0
PyJWT==2.12.1
python-dotenv==1.2.2
python-jose==3.5.0
requests==2.34.2
rsa==4.9.1
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
